:root{
  --red: hsl(0, 100%, 68%);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}
html{
  font-family: 'Barlow Condensed', sans-serif;
}
body{
  height: 100vh;
}
h1{
  text-transform: uppercase;
}
/* -------------------- COMPONENTES -------------------- */
.btn{
  display: inline-block;
  font-size: .7rem;
  letter-spacing: 1px;
  background-color: var(--red);
  border-radius: 5px;
}

/* -------------------- ESTILOS -------------------- */
/* -------------------- HEADER -------------------- */
header{
  justify-content: space-between;
  position: relative;
}
header::after{
  content: '';
  position: absolute;
  background-image: url(../images/forma.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 13rem;
  height: 32rem;
  top: -7rem;
  right: 0;
  z-index: -1;
}
header > a > img{
  width: 30px;
}
.menu a{
  color: var(--very-dark-blue);
  text-transform: uppercase;
}
.menu a:last-child{
  color: var(--grayish-blue)
}
.menu{
  top: 6rem;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -9px 9px 15px -4px rgba(0,0,0,0.2);
}
@media screen and (min-width: 64rem){
  header::after{
    width: 38rem;
    height: 50rem;
  }
  .menu{
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: auto;
  }
  .menu a:last-child::before{
    content: '•';
    margin-right: 2rem;
  }
  .menu > hr{
    display: none;
  }
}
@media screen and (min-width: 81rem){
  header::after{
    top: -30rem;
    width: 53rem;
  }
}
@media screen and (min-width: 90rem){
  header{
    padding-left: 12rem !important;
  }
  header::after{
    top: -16rem;
    height: 51rem;
    width: 50rem;
  }
}

/* -------------------- MAIN CONTENT -------------------- */
main{
  flex: 1;
}
.img-hero{
  overflow: hidden;
  margin: 0;
}
.img-hero > img{
  width: 30rem;
  object-fit:cover;
}
.main-text-caption{
  order: -1;
}
.main-text-caption > span{
  padding: .1rem .5rem .2rem .5rem;
  border-radius: 50px;
}
.schedule > small,
.main-text-caption > small{
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--grayish-blue);
}
.schedule > small{
  letter-spacing: 2px;
}
@media screen and (min-width: 48rem){
  main{
    justify-content: center;
  }
}
@media screen and (min-width: 64rem){
  main{
    align-items: center;
    width: 90%;
    margin-right: 0 !important;
  }
  .img-hero{
    margin-left: 3rem;
  }
  .img-hero > img{
    width: 55rem;
  }
}
@media screen and (min-width: 81rem){
  .main-text > h1{
    font-size: 3rem;
  }
  .schedule > a{
    font-size: 1rem;
  }
}
@media screen and (min-width: 90rem){
  .main-text > h1{
    font-size: 6rem;
  }
  .main-text-caption > span{
    padding: .5rem 2rem;
  }
  .main-text-caption + p{
    margin-top: 2rem;
  }
  .schedule{
    margin-top: 5rem;
  }
  .schedule > a{
    padding: 1rem 3rem;
    font-size: 1.5rem;
  }
  .main-text-caption,
  .main-text-caption + p,
  .schedule > small{
    font-size: 2rem;
  }
  .img-hero{
    margin: 0;
  }
}

/* -------------------- ATTRIBUTION -------------------- */
.attribution a{
  color: var(--red)
}